--
-- PostgreSQL database dump
--

-- Dumped from database version 12.1
-- Dumped by pg_dump version 12.1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: info; Type: TABLE DATA; Schema: public; Owner: postgres
--

INSERT INTO public.info (id, image_src, title, date, location, beds, description, currency, price) VALUES (1, 'https://media.kijiji.ca/api/v1/ca-prod-dealer-ads/images/68/68a8204f-18cd-426b-b263-ad7199138cdf?rule=kijijica-200-jpg', '1 Bedroom Apartments for Rent in the North York', '2022-09-09', 'City of Toronto', '1', 'Join us for our Open House Every Saturday from 11:00 - 1:00pm To view our property from the comfort of your own home, click the virtual tour link above! Virtual tours and exterior renderings are for ...', '$', '1,725.00');
INSERT INTO public.info (id, image_src, title, date, location, beds, description, currency, price) VALUES (2, 'https://media.kijiji.ca/api/v1/ca-prod-dealer-ads/images/df/df8166bf-463a-46c6-ac45-ece4d93fcba6?rule=kijijica-200-jpg', '2 Bedroom Apartment for Rent Steps to Victoria Park Station!', '2022-08-21', 'City of Toronto', '2', 'Touch free leasing: Virtual viewings via video conferencing and online leasing available. Book yours today. Our Rental Office remains operational in light of COVID-19. The health and safety of you, ...', '$', '2,475.00');
INSERT INTO public.info (id, image_src, title, date, location, beds, description, currency, price) VALUES (3, 'https://media.kijiji.ca/api/v1/ca-prod-fsbo-ads/images/eb/eb476e30-1423-4012-8b06-48918affb1b2?rule=kijijica-200-jpg', '955 Bay near U of T, 1 BD Cond, 31 FL-furnished-$2,550-Av Sept.1', '2022-08-25', 'City of Toronto', '1', '955 Bay, beautiful view of U of T and Queens Park, new building, access to 9th floor patio, pool. Sauna Hot tub, gym, 31st floor, Furnished with internet included. Only hydro and water extra. No ...', '$', '2,550.00');


--
-- Name: info_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.info_id_seq', 1755, true);


--
-- PostgreSQL database dump complete
--

