[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asyncio = "*"
aiohttp = "*"
peewee = "*"
beautifulsoup4 = "*"
fake-useragent = "*"
psycopg2-binary = "*"
lxml = "*"

[dev-packages]

[requires]
python_version = "3.8"
